body{
    margin: 0;
}

.container{
    width: 90%;
    height: 100vmax;
    margin: 0 auto;
    background-color: rgba(140,239,207,0.27);
}

.container h2{
    text-align: center;
    margin: 0 10px 0 0;
}

.informationWrapper{
    padding-top: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.informationWrapper label{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.informationWrapper label input{
    width: 100%;
    display: flex;
}

.buttonsWrapper{
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttonsWrapper button{
    display: block;
    height: 40px;
    width: 150px;
    margin: 20px 20px 20px 20px;
    outline: 0;
    border-radius: 4px;
    padding: 0;
    text-transform: uppercase;
    background-color: rgba(107,120,239,0.38);
}

.success{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(19,94,76,0.34);
    justify-content: center;
    align-items: center;
    opacity: 90%;
    flex-direction: column;
}

.textWrapper{
    background-color: #274f38;
    width: 240px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 250px auto 0;
    border-radius: 10px;
}

.textWrapper p{
    display: flex;
    position: center;
    font-size: 30px;
    color: white;
    text-align: center;
}

.hide{
    display: none;
}